.CodeMirror-cursor {
  border-color: black !important;
}

.tm-w-default {
  font-family: "Vera Mono", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 1.3em;
  color: black;
}

::selection {
    background: rgba(0, 133, 255, 0.32);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.04);
}
