.CodeMirror-cursor {
  border-color: black !important;
}

.tm-w-default {
  font-family: "Vera Mono", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 1.3em;
  color: black;
}

/* maybe also try color rgba(0, 254, 14, 0.46) ?? */
::selection {
    background: rgba(0, 196, 254, 0.46);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 0px;
  border-left: 3px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}
