@media (min-width: 800px) {
  body {
    background: black;
  }

  .CodeMirror-cursor {
    border-color: rgb(170, 170, 170) !important;
  }

  #TextMap, #counter {
    color: rgb(170, 170, 170);
  }
  ::selection {background: rgba(75, 75, 75, 0.54);}
  ::-webkit-scrollbar-track        {
    background: rgba(70, 70, 70, 0.39);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb  {
    background: rgba(94, 94, 94, 0.32);
    border-radius: 4px;
  }
}
