@media (min-width: 800px) {
  #TextMap {
    background: #000000;
  }

  .tm-w-default {
    color: rgb(170, 170, 170);
  }
  ::selection {background: rgba(75, 75, 75, 0.54);}
  ::-webkit-scrollbar-track {
    background: rgba(70, 70, 70, 0.39);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(94, 94, 94, 0.32);
    border-radius: 4px;
  }
}
