@media (min-width: 800px) {
  body {
    background: black;
  }

  .CodeMirror-cursor {
    border-color: rgb(58, 219, 58) !important;
  }

  #TextMap, #counter {
    color: rgb(58, 219, 58);
  }
  ::selection {background: rgba(3, 126, 23, 0.54);}
  ::-webkit-scrollbar-track        {
    background: rgba(2, 73, 8, 0.39);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb  {
    background: rgba(58, 219, 58, 0.32);
    border-radius: 4px;
  }
}
