@font-face {
    font-family: "Vera Mono";
    src: url("../fonts/VeraMono.ttf");
}
html, body {
    height: 100%;
}
body { 
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: black;
    display: flex;
    flex-direction: column;
}

#TMHolder {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    width: 100%;
    margin: 0;
    outline: none;
    resize: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    flex: 1 1 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#TM {
    height: 100%;
    display: block;
    background: none;
    border: none;
    width: 100%;
    margin: 0;
    outline: none;
    resize: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 6.6%;
    padding-top: 6.5%;
    padding-left: 25%;
    padding-right: 25%;
    overflow-y: overlay;
    overflow-x: hidden;
    flex: 1 1 auto;
    word-break: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
}

#TM.hideScroll::-webkit-scrollbar { 
    width: 0px;
}

#open, #save, #user-css, #wr-bod-style, 
#wr-cem-style, #wr-oth-style, #wr-audio {
    display: none;
}

#counter {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    background: none;
    width: 98%;
}
#wr-wc {
    margin-right: -3px;
}
#wr-clip-top {
    clip: rect(auto, auto, 410px, auto);
}
#wr-clip-bottom {
    clip: rect(449px, auto, auto, auto);
}
#wr-clip-left {
    clip: rect(410px, 19px, 449px, auto);
}
#wr-clip-right {
    clip: rect(410px, auto, 449px, 263px);
}
.wr-c-element {
    padding: 10px;
    padding-left: 5px;
    padding-right: 16px;
    background: rgba(0, 0, 0, 0.73);
}
#wr-customizer .wr-c-element-bottom h2 {
    margin-top: -2px;
}
#wr-customizer-buttons {
    display: none;
    height: 6%;
    width: 280px;
    overflow: none;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.73);
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
}
#wr-customizer-buttons button {
    margin-left: 5px;
    margin-top: 10px;
}
#wr-customizer {
    display: none;
    height: 94%;
    width: 280px;
    padding: 0;
    position: fixed;
    z-index: 1000;
    font-family: "Helvetica Neue";
    font-size: 13px;
    color: rgb(228, 228, 228);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0px -2px 6px rgba(0, 0, 0, 0.61);
}
#wr-customizer::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.57);
    border-radius: 4px;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.62);
}
#wr-customizer::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.17);
}
#wr-customizer hr {
    border: 1px rgba(255, 255, 255, 0.7);
    border-top-style: dashed;
}
#wr-customizer h1 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: white;
}
#wr-customizer h1:last-of-type {
    margin-top: 20px;
}
#wr-customizer h2 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: -9px;
    color: rgba(116, 216, 255, 1);
    font-weight: 400;
}
#wr-customizer p {
    margin: 0;
    margin-top: 11px;
    margin-right: 5px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    color: rgba(255, 255, 255, 0.71);
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    display: table;
}
#wr-customizer .wr-tabbed {
    margin-left: 2em;
}
#wr-customizer .wr-custombox {
    border: solid 1px #d3d3d3;
    padding: 10px;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
#wr-customizer #wr-hider {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 900;
    height: 100%;
    padding-right: 2px;
    padding-left: 2px;
    background: rgba(255, 255, 255, 0.00);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.0));
    width: 12px;
    -webkit-font-smoothing: antialiased;
}
#wr-customizer #wr-hider span {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: block;
    width: 90px;
    position: absolute;
    top: 50px;
    right: -38px;
}
#wr-customizer #wr-hider:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.00);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.0));
}
#wr-customizer #wr-themes-custom {
    display: none;
}
#wr-customizer .is-chosen, li[data-checked="true"], #wr-text-sizer {
    color: rgba(0, 202, 253, 1) !important;
}
#wr-background-options {
    width: 75px;
}
#wr-themes, #wr-text-font, #wr-text-sizes, #wr-text-weight,
#wr-text-style, #wr-fullscreen-audio, #wr-fullscreen-clicks,
#wr-tabbed, #wr-background-options, #wr-text-color {
    padding: 0;
    -webkit-user-select: none;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
    list-style: none;
    display: table;
}
#wr-themes li, #wr-bg-color, #wr-bg-img, 
#wr-text-color, #wr-text-font li, #wr-text-sizes li, #wr-text-weight li,
#wr-text-style li, #wr-fullscreen-audio li, #wr-fullscreen-clicks li,
#wr-tabbed li {
    cursor: pointer;
    -webkit-user-select: none;
    display: inline-block;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
li.wr-noclick {
    cursor: default !important;
}
#wr-bg-color, #wr-bg-img, 
#wr-text-color, #wr-text-font li, #wr-text-sizes li, #wr-text-weight li,
#wr-text-style li, #wr-fullscreen-audio li, #wr-fullscreen-clicks li,
#wr-tabbed li {
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: inline-table;
    max-width: 30px;
    max-height: 29px;
    vertical-align: top;
}
#wr-text-color span, #wr-text-font li span, #wr-text-sizes li span, #wr-text-weight li span,
#wr-text-style li span, #wr-fullscreen-audio li span, #wr-fullscreen-clicks li span,
#wr-tabbed li span {
    display: table-cell;
    vertical-align: middle;
}

#wr-bg-color, #wr-bg-img, #wr-text-color {
    border: 3px solid transparent;
    max-width: 27px;
    max-height: 27px;
}

#wr-bg-color {
    border-color: black;
    background: white;
    margin-right: 5px;
}

#wr-bg-img:before {
    content: 'img';
    font-size: 13px;
    color: rgba(255, 255, 255, 0.26);
    position: relative;
    top: 4px;
    left: 2px;
    -webkit-font-smoothing: antialiased;
}

#wr-bg-img {
    border-color: rgba(0, 0, 0, 0.14);
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    background-repeat: no-repeat;
}

#wr-bg-img::-webkit-file-upload-button {
    visibility: hidden;
}

#wr-text-color {
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
#wr-bg-color, #wr-bg-img {
    transition: border 0.2s ease-in-out;
}

/*#wr-text-font li {
display: inline-block;
border: rgba(0, 0, 0, 0.7) solid 3px;
max-height: 24px;
max-width: 27px;
}*/
#wr-text-font li span {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    /*font-size: 47px;
    position: relative;
    top: -24px;
    left: 10px;*/
    /** not yet supported (using js instead):
    font-family: attr(data-value);
    **/
}

#wr-text-weight li span {
    font-family: "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
}

#wr-text-sizes {
    display: inline-table;
}
#wr-text-sizes li {
    
}
#wr-text-sizes li[data-value='10'] span {
    font-size: 9px;
}
#wr-text-sizes li[data-value='14'] span {
    font-size: 17px;
}

li#wr-text-sizer {
    display: none;
    width: 100px;
}
#wr-text-size {
    width: 3em;
    display: table-cell;
    vertical-align: middle;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    margin-top: 1px;
}
#wr-text-size-unit {
    margin-top: 5px;
}

#wr-text-style li span {
    font-family: "Georgia", "Courier New", serif;
}
#wr-text-style li[data-value="italic"] span {
    font-style: italic;
}

#wr-highlight-color {
    color: black;
    cursor: pointer;
    padding: 0px;
    max-height: 30px;
    padding-bottom: 10px;
    padding-left: 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    border-left: 5px solid rgba(0,0,0,0.73);
    border-right: 40px solid rgba(0,0,0,0.73);
}
#wr-highlight-selected {
    background: rgba(0, 133, 255, 0.32);
    padding: 3px;
}
#wr-i-beam {
    font-size: 26px;
    margin-left: -12px;
    position: relative;
    top: 4px;
    margin-right: -11px;
    -webkit-text-stroke: 0.6px rgba(255,255,255,0.68);
    color: black;
    text-shadow: -1px 1px 3px rgb(68, 68, 68);
}

#wr-scroller {
    border-radius: 4px;
    width: 48%;
    margin-top: 4px;
}
#wr-scrolltrack-color {
    cursor: pointer;
    height: 9px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0);
}
#wr-scroll-color {
    cursor: pointer;
    height: 9px;
    width: 30%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.35);
    margin-left: 60%;
    margin-top: -9px;
}

#wr-fullscreen-audio, #wr-fullscreen-clicks {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

#wr-audio-stop span {
    display: block !important;
    font-weight: 900;
}
li#wr-audio-stop span:last-child {
    margin-top: -13px;
    margin-left: -2px;
}

/*** TITLEBAR ***/
.wr-titlebar-fullscreen #wr-window-buttons, .wr-titlebar-fullscreen .wr-window-fullscreen {
    visibility: hidden;
}
.wr-titlebar-fullscreen#titlebar {
    background: transparent;
    padding-top: 10px;
    position: fixed;
    width: 100%;
}
.wr-titlebar-fullscreen.wr-runtime-fullscreen-css #wr-tabs {
    margin-left: 0;
}
#titlebar {
    cursor: default;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding: 4px;
    padding-bottom: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: white; /* rgba(0, 0, 0, 0.04); */ /* #f4f4f4; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex: 1 1 auto;
}
#wr-window-buttons, #wr-tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}
#wr-window-buttons, #wr-tabs-holder, #wr-window-fullscreen {
    flex: 1 1 auto;
}
#wr-window-buttons li, #wr-tabs li, #wr-fullscreen-button {
    display: inline-block;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    cursor: pointer;
}
#wr-window-buttons {
    height: 14px;
    padding-left: 1px;
    margin-top: 1px;
    min-width: 58px;
    width: 60px;
}
#wr-window-buttons li {
    width: 14px;
    height: 14px;
    cursor: default;
    margin-left: 2px;
    background-color: transparent;
    background-image: url("../img/titlebarbuttons.png");
}
#wr-fullscreen-button.wr-window-blurred, #wr-close-button.wr-window-blurred,
#wr-minimize-button.wr-window-blurred, #wr-maximize-button.wr-window-blurred {
    background-position: 0px 0px;
}
#wr-close-button {
    background-position: 0px -14px;
}
#wr-close-button.wr-window-button-hover {
    background-position: 0px -28px;
}
#wr-close-button:active {
    background-position: 0px -42px;
}
#wr-minimize-button {
    background-position: -14px -14px;
}
#wr-minimize-button.wr-window-button-hover {
    background-position: -14px -28px;
}
#wr-minimize-button:active {
    background-position: -14px -42px;
}
#wr-maximize-button {
    background-position: -28px -14px;
}
#wr-maximize-button.wr-window-button-hover {
    background-position: -28px -28px;
}
#wr-maximize-button:active {
    background-position: -28px -42px;
}
#wr-fullscreen-button {
    width: 14px;
    height: 15px;
    background-color: transparent;
    background-image: url("../img/fullscreenbuttons.png");
    background-position: -14px 0px;
    background-repeat: no-repeat;
}
#wr-fullscreen-button:hover {
    background-position: -28px 0px;
}
#wr-fullscreen-button:active {
    background-position: -42px 0px;
}
#wr-close-button.wr-window-dirty {
    background-position: 0px -56px;
}
#wr-close-button.wr-window-dirty:active {
    background-position: -14px -56px;
}
#wr-close-button.wr-window-dirty.wr-window-blurred {
    background-position: -14px 0px;
}
#wr-close-button.wr-window-dirty.wr-window-blurred.wr-window-button-hover {
    background-position: 0px -56px;
}

#wr-tabs-holder {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}
#wr-tabs {
    height: 14px;
    border: solid 1px #007aff;
    width: 80%;
    margin: 0 auto;
    border-radius: 2px;
    position: relative;
    top: -1px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin-left: 3%;
    font-family: "Vera Mono", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}
#wr-tabs li {
    color: #007aff;
    text-align: center;
    background: white;
    width: 100%;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    border-right: 1px solid #007aff;
    flex-shrink: 6;
    transition: flex 0.09s;
    -webkit-user-drag: element;
}
#wr-tabs li.is-being-dragged {
    border: none;
}
#wr-tabs li.is-being-dragged-over {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8),
    inset 0px 0px 10px rgba(255, 255, 255, 0.8);
}
#wr-tabs li:last-child {
    border-right: none;
}
#wr-tabs li:active {
    background: rgba(0, 122, 255, 0.15);
}
#wr-tabs li#wr-tab-selected {
    color: white;
    background: #007aff;
}
#wr-tabs li#wr-tab-selected:active {
    color: rgba(223, 238, 255, 1);
}
#wr-tabs li#wr-tab-selected span:last-child {
    color: rgba(255, 255, 255, 0.63);
}
.wr-tab-close-button {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 9px;
    color: inherit;
    border-radius: 23px;
    width: 13px;
    height: 13px;
    padding-bottom: 2px;
    font-family: "Helvetica Neue",sans-serif;
    background: transparent;
    outline: none;
    float: right;
    margin-left: -13px;
    cursor: pointer;
}
.wr-tab-close-button:hover {
    background: rgba(0, 0, 0, 0.24);
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.34);
}

#wr-add-tab-button {
    display: block;
    min-width: 12px;
    max-width: 12px;
    text-align: center;
    padding: 0px;
    font-size: 11px;
    color: white;
    background: #007aff;
    border-radius: 2px;
    padding-bottom: 0px;
    position: relative;
    top: -1px;
    height: 14px;
    border: solid 1px #007aff;
    font-weight: bolder;
    flex: 1 1 auto;
    margin-right: 4.5%;
    margin-left: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}
#wr-add-tab-button:hover {
    background: #449EFF;
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.64);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.37);
}
#wr-add-tab-button:active {
    background: #56A7FF;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.31);
    text-shadow: none;
}

.wr-window-fullscreen {
    min-width: 16px;
    max-width: 16px;
}

/*** CONTROL ***/
body#tm-control-body {
    display: flex;
    flex-direction: row;
}
#tm-wr-control {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    flex: 1 1 auto;
    border: none;
    height: 53px;
}
.wr-tm-fullscreen #tm-wr-control {
    width: 90%;
    position: fixed;
    top: 32px;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
body.wr-tm-control-fullscreen {
    background: transparent;
}
.wr-tm-control-fullscreen #tm-control-close-button {
    background: transparent;
}
#tm-control {
    width: 100%;
    margin: 0;
    padding: 4px;
    background: rgb(231, 231, 231);
    border: none;
    display: block;
    outline: none;
    font-family: Helvetica;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    flex: 1 1 auto;
}
#tm-control-close-button {
    display: block;
    margin: 0;
    font-family: "Helvetica";
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 4px;
    height: inherit;
    background: white;
    padding-right: 4px;
    padding-left: 4px;
    color: rgb(231, 231, 231);
    border: none;
    flex: 1 1 auto;
    outline: none;
    cursor: pointer;
}
#tm-control-close-button:hover {
    color: rgb(155, 155, 155);
}
#tm-control-close-button:active {
    color: rgb(233, 233, 233);
}
#tm-control-replace-value, #tm-control-replace-replacement {
    border: 1px solid rgba(128, 128, 128, 0.57);
    border-radius: 2px;
    outline: none;
    background: white;
    height: 23px;
    font-size: 14px;
    font-family: Helvetica;
    padding-left: 4px;
    padding-bottom: 2px;
    padding-right: 4px;
}
#tm-control-replace-value:focus, #tm-control-replace-replacement:focus {
    border-color: #077aff;
}
#tm-control-replace-all {
    background: rgb(231, 231, 231);
    border: 1px solid rgba(128, 128, 128, 0.57);
    color: rgba(128, 128, 128, 0.57);
    border-radius: 3px;
    margin: 0;
    margin-right: 5px;
    padding: 4px;
    outline: none;
}
#tm-control-replace-all.tm-control-replace-all-on {
    background: rgba(253, 254, 255, 1);
    border: 1px solid rgba(0, 122, 255, 1);
    color: rgba(0, 122, 255, 1);
}

/*** IDK. OLD CODEMIRROR STUFF? ***/
.sp-replacer {
    border: none;
    padding: 1px;
} 
.sp-preview {
    margin-right: 0;
    width: 9px;
    height: 9px;
}
.sp-dd {
    display: none;
}
.sp-container, .sp-color, .sp-hue, .sp-input {
    border: solid 1px black;
}
.sp-container:before {
    content: "";
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    top: -8px;
    left: 8px;
}
.sp-container {
    border: solid 3px black;
    background: white;
    overflow: visible;
}
.sp-picker-container, .sp-palette-container {
    padding-bottom: 5px;
    margin-bottom: 0px;
}

@media (max-width: 800px) {
    body { 
        background: white;
    }
    html.is-frameless {
        border-radius: 4px;
        background: transparent;
    }
    body.is-frameless {
        border-radius: 4px;
        border-top: none;
    }

    #TMHolder {
        margin: 0;
    }
    #TM {
        padding: 5px;
        overflow-y: scroll !important;
    }
    #counter {
        display: none;
    }
    #wr-customizer, #wr-customizer-buttons, .sp-container {
        display: none !important;
    }
}
